.conversor{
    padding: 20px;
    max-width: 300px;
    box-shadow: 0 4px 8px;
    text-align: center;
    justify-content: center;
    background-color:rgb(142, 223, 202);
    border-radius: 20px;
}

